autobahn==0.9.5
beautifulsoup4==4.2.1
cffi==0.8.6
characteristic==14.3.0
chardet==2.2.1
command-not-found==0.3
cryptography==0.7.2
defer==1.0.6
Flask==0.10.1
Flask-Compress==1.0.2
Flask-SQLAlchemy==1.0
flipflop==1.0
flup6==1.1
httplib2==0.8
itsdangerous==0.22
Jinja2==2.7.2
language-selector==0.1
lxml==3.3.3
MarkupSafe==0.18
menulibre==2.0.4
mugshot==0.2.5
mysql-connector-python==1.1.6
oauthlib==0.6.1
onboard==1.0.0
oneconf==0.3.7.14.4.1
pexpect==3.1
piston-mini-client==0.7.5
psutil==1.2.1
pyasn1==0.1.7
pyasn1-modules==0.0.5
pycparser==2.10
pycrypto==2.6.1
pycurl==7.19.3
pygobject==3.12.0
pyinotify==0.9.4
pyOpenSSL==0.14
python-apt===0.9.3.5ubuntu1
pytidyclub==0.0.8
pytz==2014.10
pyxdg==0.25
requests==2.5.1
service-identity==14.0.0
sh==1.11
six==1.9.0
slackrealtime==0.1
software-center-aptd-plugins==0.0.0
SQLAlchemy==0.8.4
Twisted==15.0.0
twitter==1.15.0
ubuntu-drivers-common==0.0.0
ufw===0.34-rc-0ubuntu2
unattended-upgrades==0.1
Werkzeug==0.9.4
xkit==0.0.0
zope.interface==4.1.2
