<!doctype html>
<html>
<head>
	<title>NemWeb</title>
	<meta charset="utf-8">
<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">	
  <link href="static/css/bootstrap.min.css" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
</head>
<body>
  <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Nemweb</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="https://twitter.com/au_nem">Twitter</a></li>
            <li><a href="mailto:nem@mwheeler.org">Contact</a></li>
            <li><a href="https://github.com/TheSkorm/nemweb">Source</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
<div id="container" style="min-width: 310px; height: 600px; margin: 0 auto; padding-top: 80px;"></div>	
<h2>Interconnect ID Key</h2>
<ul>
<li>NSW1-QLD1 QLD to NSW</li>
<li>VIC1-NSW1 VIC to NSW</li>
<li>T-V-MNSP1 VIC to TAS</li>
<li>V-SA VIC to SA</li>
<li>V-S-MNSP1 VIC to SA</li>
<li>N-Q-MNSP1 QLD to NSW</li>
<li>V-SA SA to VIC</li>
<li>V-S-MNSP1 SA to VIC</li>
</ul>
<script src="static/js/bootstrap.min.js"></script>
<script>
$(function () {
$('#container').highcharts({
        title: {
            text: 'Nem Data',
            x: -20 //center
        },
        subtitle: {
            text: 'Source: nemweb.com.au',
            x: -20
        },
        xAxis: {
            type: 'datetime',
            dateTimeLabelFormats: { // don't display the dummy year
                month: '%e. %b',
                year: '%b'
            }
        },
yAxis:[{ 
            labels: {
                format: '${value:.2f}',
            },
            type: 'logarithmic',
        maxPadding: 0,
        minPadding: 0,
            ceiling: 13500,
            title: {
                text: 'Price',
            }
        }, { 
            title: {
                text: 'MW',
            },
            labels: {
                format: '{value:.2f} MW',
            },
            opposite: true
        }],
        tooltip: {
            valueSuffix: 'MW'
        },
	oposite: true,        
chart: {
            zoomType: 'x',
alignTicks: false
        },
        legend: {
            borderWidth: 0
}

 });
});
</script>
<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>
	<script>
regions = ["QLD1","NSW1","SA1","TAS1","VIC1"]
interconnects = ["N-Q-MNSP1","NSW1-QLD1","T-V-MNSP1","V-S-MNSP1","V-SA","VIC1-NSW1"]


        // JSONP request
        var jsonData = $.ajax({
          url: '/dispatch',
          dataType: 'json',
        }).done(function (results) {

var	data = results['results']
var price = {}
var demand = {}
var generation = {}
for( i =0; i<regions.length; i++){
var region = regions[i];
price[region] = []
generation[region] = []
demand[region] = []
}


for(i in data){
var row = data[i];
for( i =0; i<regions.length; i++){
var region = regions[i];
price[region].push([Date.parse(row[region]['datetime']),row[region]['rrp']]);
generation[region].push([Date.parse(row[region]['datetime']),row[region]['generation']]);
demand[region].push([Date.parse(row[region]['datetime']),row[region]['demand']]);
lastdata = Date.parse(row[region]['datetime'])
}

          };

for( i =0; i<regions.length; i++){
var region = regions[i]; // TODO clean this up
$('#container').highcharts().addSeries({name: region + " $", data: price[region],   marker : {enabled :false}  });
$('#container').highcharts().addSeries({name: region + " $", linkedTo: ':previous', dashStyle: 'shortdash', color: $('#container').highcharts().series[i*6].color ,   marker : {enabled :false} });

$('#container').highcharts().addSeries({yAxis: 1, visible: false, name: region + " generation", data: generation[region],   marker : {enabled :false} });
$('#container').highcharts().addSeries({yAxis: 1, visible: false, name: region + " generation", linkedTo: ':previous',dashStyle: 'shortdash', color: ':previous' , color: $('#container').highcharts().series[i*6+2].color,   marker : {enabled :false} });

$('#container').highcharts().addSeries({yAxis: 1, visible: false, name: region + " demand", data: demand[region],   marker : {enabled :false} });
$('#container').highcharts().addSeries({yAxis: 1, visible: false, name: region + " demand", linkedTo: ':previous',dashStyle: 'shortdash', color: ':previous', color: $('#container').highcharts().series[i*6+4].color,   marker : {enabled :false} });
}

setInterval(requestUpdate, 30000);
setInterval(requestPredictions, 30000);
setInterval(requestIntUpdate, 30000);
requestPredictions();
    });


// interconnects

        // JSONP request
        var jsonData = $.ajax({
          url: '/interconnect',
          dataType: 'json',
        }).done(function (results) {

var	data = results['results']
var exportlimit = {}
var importlimit = {}
var mwflow = {}
for( i =0; i<interconnects.length; i++){
var interconnect = interconnects[i];
exportlimit[interconnect] = []
importlimit[interconnect] = []
mwflow[interconnect] = []
}


for(i in data){
var row = data[i];
for( i =0; i<interconnects.length; i++){
var interconnect = interconnects[i];
exportlimit[interconnect].push([Date.parse(row[interconnect]['datetime']),row[interconnect]['exportlimit']]);
importlimit[interconnect].push([Date.parse(row[interconnect]['datetime']),row[interconnect]['importlimit']]);
mwflow[interconnect].push([Date.parse(row[interconnect]['datetime']),row[interconnect]['mwflow']]);
}

          };

for( i =0; i<interconnects.length; i++){
var interconnect = interconnects[i]; // TODO clean this up
$('#container').highcharts().addSeries({yAxis: 1, visible: false, name: interconnect + " import limit", data: importlimit[interconnect],   marker : {enabled :false} });
$('#container').highcharts().addSeries({yAxis: 1, visible: false, name: interconnect + " export limit", data: exportlimit[interconnect],   marker : {enabled :false} });
$('#container').highcharts().addSeries({yAxis: 1, visible: false, name: interconnect + " MW flow", data: mwflow[interconnect],   marker : {enabled :false} });
}

lastdatainter = Date.parse(row[interconnect]['datetime'])
    });




function requestUpdate(){
        var jsonData = $.ajax({
          url: '/update',
          dataType: 'json',
        }).done(function (update) {
processUpdate(update['update']);
})

}
function requestIntUpdate(){
        var jsonData = $.ajax({
          url: '/interconnect-update',
          dataType: 'json',
        }).done(function (update) {
processInterconnectUpdate(update['update']);
})

}

function processUpdate(data){
var price = {}
var demand = {}
var generation = {}
for( i =0; i<regions.length; i++){
var region = regions[i];
price[region] = []
generation[region] = []
demand[region] = []
}

for(i in data){
var row = data[i];
for( i =0; i<regions.length; i++){
var region = regions[i];
if (Date.parse(row[region]['datetime']) >  lastdata) {
$('#container').highcharts().series[regions.indexOf(region)*6].addPoint([Date.parse(row[region]['datetime']),row[region]['rrp']],true, true);
$('#container').highcharts().series[regions.indexOf(region)*6+2].addPoint([Date.parse(row[region]['datetime']),row[region]['generation']], true, true);
$('#container').highcharts().series[regions.indexOf(region)*6+4].addPoint([Date.parse(row[region]['datetime']),row[region]['demand']], true, true);
}
}}
lastdata = Date.parse(row[region]['datetime']);
}

function processInterconnectUpdate(data){
var exportlimit = {}
var importlimit = {}
var mwflow = {}
for( i =0; i<interconnects.length; i++){
var interconnect = interconnects[i];
exportlimit[interconnect] = []
importlimit[interconnect] = []
mwflow[interconnect] = []
}

for(i in data){
var row = data[i];
for( i =0; i< interconnects.length; i++){
var interconnect = interconnects[i];
var regionoffset = regions.length*6;
if (Date.parse(row[interconnect]['datetime']) >  lastdatainter) {
$('#container').highcharts().series[interconnects.indexOf(interconnect)*3+regionoffset].addPoint([Date.parse(row[interconnect]['datetime']),row[interconnect]['importlimit']],true, true);
$('#container').highcharts().series[interconnects.indexOf(interconnect)*3+1+regionoffset].addPoint([Date.parse(row[interconnect]['datetime']),row[interconnect]['exportimit']], true, true);
$('#container').highcharts().series[interconnects.indexOf(interconnect)*3+2+regionoffset].addPoint([Date.parse(row[interconnect]['datetime']),row[interconnect]['mwflow']], true, true);
}
}}
lastdatainter = Date.parse(row[interconnect]['datetime']);
}






function requestPredictions(){
        var jsonData = $.ajax({
          url: '/predictions',
          dataType: 'json',
        }).done(function (update) {
processPredictions(update['results']);
})

}


function processPredictions(data){
var price = {}
var demand = {}
var generation = {}
for( i =0; i<regions.length; i++){
var region = regions[i];
price[region] = []
generation[region] = []
demand[region] = []
$('#container').highcharts().series[regions.indexOf(region)*6+1].setData([], false);
$('#container').highcharts().series[regions.indexOf(region)*6+3].setData([], false);
$('#container').highcharts().series[regions.indexOf(region)*6+5].setData([], false);
}
	
for(i in data){
var row = data[i];
for( i =0; i<regions.length; i++){
var region = regions[i];
$('#container').highcharts().series[regions.indexOf(region)*6+1].addPoint([Date.parse(row[region]['datetime']),row[region]['rrp']],false);
$('#container').highcharts().series[regions.indexOf(region)*6+3].addPoint([Date.parse(row[region]['datetime']),row[region]['generation']],false);
$('#container').highcharts().series[regions.indexOf(region)*6+5].addPoint([Date.parse(row[region]['datetime']),row[region]['demand']],false);
}}

}
    </script>

</body>
</html>
