<!doctype html>
<html>
<head>
	<title>NemWeb</title>
	<meta charset="utf-8">
<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">	
  <link href="static/css/bootstrap.min.css" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	<script>

        // JSONP request
        var jsonData = $.ajax({
          url: '/dispatch',
          dataType: 'json',
        }).done(function (results) {

//TODO ewww yuck - just loop through you idiot
	data = results['results']
seriesdata = {0:[],1:[],2:[],3:[],4:[],5:[],6:[],7:[],8:[],9:[],10:[],11:[],12:[],13:[],14:[]}
for(i in data){
row = data[i];
seriesdata[0].push([Date.parse(row["QLD1"]['datetime']),row["QLD1"]['rrp']]);
seriesdata[1].push([Date.parse(row["QLD1"]['datetime']),row["NSW1"]['rrp']]);
seriesdata[2].push([Date.parse(row["QLD1"]['datetime']),row["SA1"]['rrp']]);
seriesdata[3].push([Date.parse(row["QLD1"]['datetime']),row["TAS1"]['rrp']]);
seriesdata[4].push([Date.parse(row["QLD1"]['datetime']),row["VIC1"]['rrp']]);
seriesdata[5].push([Date.parse(row["QLD1"]['datetime']),row["QLD1"]['demand']]);
seriesdata[6].push([Date.parse(row["QLD1"]['datetime']),row["NSW1"]['demand']]);
seriesdata[7].push([Date.parse(row["QLD1"]['datetime']),row["SA1"]['demand']]);
seriesdata[8].push([Date.parse(row["QLD1"]['datetime']),row["TAS1"]['demand']]);
seriesdata[9].push([Date.parse(row["QLD1"]['datetime']),row["VIC1"]['demand']]);
seriesdata[10].push([Date.parse(row["QLD1"]['datetime']),row["QLD1"]['generation']]);
seriesdata[11].push([Date.parse(row["QLD1"]['datetime']),row["NSW1"]['generation']]);
seriesdata[12].push([Date.parse(row["QLD1"]['datetime']),row["SA1"]['generation']]);
seriesdata[13].push([Date.parse(row["QLD1"]['datetime']),row["TAS1"]['generation']]);
seriesdata[14].push([Date.parse(row["QLD1"]['datetime']),row["VIC1"]['generation']]);



          };
$('#container').highcharts().addSeries({name: "QLD $", data: seriesdata[0]});
$('#container').highcharts().addSeries({name: "NSW $", data: seriesdata[1]});
$('#container').highcharts().addSeries({name: "SA $", data: seriesdata[2]});
$('#container').highcharts().addSeries({name: "TAS $", data: seriesdata[3]});
$('#container').highcharts().addSeries({name: "VIC $", data: seriesdata[4]});

$('#container').highcharts().addSeries({yAxis: 1, visible: false, name: "QLD generation", data: seriesdata[5]});
$('#container').highcharts().addSeries({yAxis: 1, visible: false, name: "NSW generation", data: seriesdata[6]});
$('#container').highcharts().addSeries({yAxis: 1, visible: false, name: "SA generation", data: seriesdata[7]});
$('#container').highcharts().addSeries({yAxis: 1, visible: false, name: "TAS generation", data: seriesdata[8]});
$('#container').highcharts().addSeries({yAxis: 1, visible: false, name: "VIC generation", data: seriesdata[9]});

$('#container').highcharts().addSeries({yAxis: 1, visible: false, name: "QLD demand", data: seriesdata[10]});
$('#container').highcharts().addSeries({yAxis: 1, visible: false, name: "NSW demand", data: seriesdata[11]});
$('#container').highcharts().addSeries({yAxis: 1, visible: false, name: "SA demand", data: seriesdata[12]});
$('#container').highcharts().addSeries({yAxis: 1, visible: false, name: "TAS demand", data: seriesdata[13]});
$('#container').highcharts().addSeries({yAxis: 1, visible: false, name: "VIC demand", data: seriesdata[14]});
    });
    </script>
</head>
<body>
  <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Nemweb</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="https://twitter.com/au_nem">Twitter</a></li>
            <li><a href="mailto:nem@mwheeler.org">Contact</a></li>
            <li><a href="https://github.com/TheSkorm/nemweb">Source</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

<div id="container" style="min-width: 310px; height: 600px; margin: 0 auto"></div>	
<script src="static/js/bootstrap.min.js"></script>
<script>
$(function () {
$('#container').highcharts({
        title: {
            text: 'Nem Data',
            x: -20 //center
        },
        subtitle: {
            text: 'Source: nemweb.com.au',
            x: -20
        },
        xAxis: {
            type: 'datetime',
            dateTimeLabelFormats: { // don't display the dummy year
                month: '%e. %b',
                year: '%b'
            }
        },
yAxis:[{ 
            labels: {
                format: '${value}',
            },
            type: 'logarithmic',
            title: {
                text: 'Price',
            }
        }, { 
            title: {
                text: 'MW',
            },
            labels: {
                format: '{value} MW',
            },
            opposite: true
        }],
        tooltip: {
            valueSuffix: 'MW'
        },
	oposite: true,        
chart: {
            zoomType: 'x'
        },
        legend: {
            borderWidth: 0
}

 });
});
</script>
<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>


</body>
</html>
