<!doctype html>
<html>
<head>
	<title>NemWeb</title>
	<meta charset="utf-8">
	
	<!-- Core JavaScript Libraries -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="https://www.google.com/jsapi"></script>
	
	<!-- BootStrap Theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

	<!-- Custom JavaScript -->
	<script>
      // onload callback
      function drawChart() {


        // JSONP request
        var jsonData = $.ajax({
          url: '/dispatch',
          dataType: 'json',
        }).done(function (results) {

data = new google.visualization.DataTable();

          data.addColumn('datetime', 'Date Time');
          data.addColumn('number', 'NSW');
          data.addColumn('number', 'SA');
          data.addColumn('number', 'VIC');
          data.addColumn('number', 'QLD');
          data.addColumn('number', 'TAS');
          data.addColumn('number', 'NSW - generated');
          data.addColumn('number', 'SA - generated');
          data.addColumn('number', 'VIC - generated');
          data.addColumn('number', 'QLD - generated');
          data.addColumn('number', 'TAS - generated');
          data.addColumn('number', 'NSW - demand');
          data.addColumn('number', 'SA - demand');
          data.addColumn('number', 'VIC - demand');
          data.addColumn('number', 'QLD - demand');
          data.addColumn('number', 'TAS - demand');


  columns = [0];
    seriesMap = [{
        column: 1,
        roleColumns: [],
        display: false
    }, {
        column: 2,
        roleColumns: [],
        display: false
    }, {
        column: 3,
        roleColumns: [],
        display: false
    }, {
        column: 4,
        roleColumns: [],
        display: true
    }, {
        column: 5,
        roleColumns: [],
        display: false
    }, {
        column: 6,
        roleColumns: [],
        display: false
    }, {
        column: 7,
        roleColumns: [],
        display: false
    }, {
        column: 8,
        roleColumns: [],
        display: false
    }, {
        column: 9,
        roleColumns: [],
        display: true
    }, {
        column: 10,
        roleColumns: [],
        display: false
    }, {
        column: 11,
        roleColumns: [],
        display: false
    }, {
        column: 12,
        roleColumns: [],
        display: false
    }, {
        column: 13,
        roleColumns: [],
        display: false
    }, {
        column: 14,
        roleColumns: [],
        display: true
    }, {
        column: 15,
        roleColumns: [],
        display: false
    }];
     columnsMap = {};
     series = [];
    for (var i = 0; i < seriesMap.length; i++) {
        var col = seriesMap[i].column;
        columnsMap[col] = i;
        // set the default series option
        series[i] = {};
        if (seriesMap[i].display) {
            // if the column is the domain column or in the default list, display the series
            columns.push(col);
        }
        else {
            // otherwise, hide it
            columns.push({
                label: data.getColumnLabel(col),
                type: data.getColumnType(col),
                sourceColumn: col,
                calc: function () {
                    return null;
                }
            });
            // backup the default color (if set)
            if (typeof(series[i].color) !== 'undefined') {
                series[i].backupColor = series[i].color;
            }
            series[i].color = '#CCCCCC';
        }
        for (var j = 0; j < seriesMap[i].roleColumns.length; j++) {
            columns.push(seriesMap[i].roleColumns[j]);
        }
    }
    
  




          

          $.each(results["results"], function (i, row) {
	    rowdata = [
              new Date(i),
              parseFloat(row["SA1"]['rrp']),
              parseFloat(row["VIC1"]['rrp']),
              parseFloat(row["QLD1"]['rrp']),
              parseFloat(row["NSW1"]['rrp']),
              parseFloat(row["TAS1"]['rrp']),
              parseFloat(row["NSW1"]['generation']),
              parseFloat(row["SA1"]['generation']),
              parseFloat(row["VIC1"]['generation']),
              parseFloat(row["QLD1"]['generation']),
              parseFloat(row["TAS1"]['generation']),
              parseFloat(row["NSW1"]['demand']),
              parseFloat(row["SA1"]['demand']),
              parseFloat(row["VIC1"]['demand']),
              parseFloat(row["QLD1"]['demand']),
              parseFloat(row["TAS1"]['demand']),
            ];
            data.addRow(rowdata);
          });



    chart = new google.visualization.ChartWrapper({
        chartType: 'LineChart',
        containerId: 'chart',
        dataTable: data,
	options:  {
            title: 'Nem',
 		
	    vAxes: {0: {viewWindowMode:'explicit',
		title: "Price ($/MWhr)",
                logScale: true,
}, 1: {title: "MW"}		

},
            hAxis: {                
format: "yyyy-MM-dd hh:mm"
}
    }

});
targetseries = {0: {targetAxisIndex:0},
                   1:{targetAxisIndex:0},
                   2:{targetAxisIndex:0},
                   3:{targetAxisIndex:0},
                   4:{targetAxisIndex:0},
                   5: {targetAxisIndex:1},
                   6:{targetAxisIndex:1},
                   7:{targetAxisIndex:1},
                   8:{targetAxisIndex:1},
                   9:{targetAxisIndex:1},
                   10: {targetAxisIndex:1},
                   11:{targetAxisIndex:1},
                   12:{targetAxisIndex:1},
                   13:{targetAxisIndex:1},
                   14:{targetAxisIndex:1},
                  }
series = jQuery.extend(true, targetseries,series);
console.log(series);
  chart.setOption('series', series);

          google.visualization.events.addListener(chart, 'select', showHideSeries);
    var view = {
        columns: columns
    };
          chart.draw();
        });

      }

      // load chart lib
      google.load('visualization', '1', {
        packages: ['corechart']
      });
 function showHideSeries () {
        var sel = chart.getChart().getSelection();
        // if selection length is 0, we deselected an element
        if (sel.length > 0) {
            // if row is undefined, we clicked on the legend
            if (sel[0].row == null) {
                var col = sel[0].column;
                if (typeof(columns[col]) == 'number') {
                    var src = columns[col];
                    console.log(src);
                    // hide the data series
                    columns[col] = {
                        label: data.getColumnLabel(src),
                        type: data.getColumnType(src),
                        sourceColumn: src,
                        calc: function () {
                            return null;
                        }
                    };
                    
                    // grey out the legend entry
                    series[columnsMap[src]].color = '#CCCCCC';
                }
                else {
                    var src = columns[col].sourceColumn;
                    
                    // show the data series
                    columns[col] = src;
                    series[columnsMap[src]].color = null;
                }
               var view = chart.getView() || {};
               view.columns = columns;
               chart.setView(view);
                chart.draw();
            }
        }
    }
    

      // call drawChart once google charts is loaded
      google.setOnLoadCallback(drawChart);
$(window).resize(function() {
   window.chart.draw();
 });
    </script>
</head>
<body>
	<div class="header">
		<h1>NemWeb</h1>
		<p>
			<a href="https://twitter.com/au_nem">NEM Market Notices (via Twitter)</a><br />
			For source code to download and process contact <a href="mailto:nem@mwheeler.org">nem@mwheeler.org</a>.
		</p>
	</div>
	
	<div id="chart" style="width: 95%;position: absolute; bottom: 20px; top:72pt;">&nbsp;</div>
	
	<div class="footer">
		&nbsp;
	</div>
</body>
</html>
